.same {
  position: relative;
  right: 12px;
}

.one-max-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 36px;
}

.position-container svg {
  width: 36px;
  height: 36px;
}
