/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin, paddings and webkkit higlight
*/
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
/*
  3. Allow percentage-based heights in the application
  4. Set relative font size to be 10px without breaking user font-size customization in the browser
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  5. Set a base line height
  6. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Comfortaa", cursive;
  font-family: "Nunito", sans-serif;
  background-image: url("/images/pattern3.jpg") !important;
  background-size: 75%;
  background-repeat: repeat;
  @media (max-width: 768px) {
    background-image: url("/images/pattern3.jpg") !important;
    background-size: 25%;
  }
}
/*
  7. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  8. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
/*
  9. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
#__next {
  height: 100%;
}

/*
  10. Remove default styles for list
*/
ul {
  list-style: none;
}

/*
10. Remove unwanted Chakra default
*/
.chakra-tabs__tab-panels > * {
  padding: 0 !important;
}

/*
  11. Overwrite styles for Chakra givent that this values get ignored
  when extending the theme
*/
:host,
:root,
[data-theme] {
  --chakra-sizes-container-sm: 100% !important;
  --chakra-sizes-container-md: 920px !important;
  --chakra-sizes-container-lg: 920px !important;
  --chakra-sizes-container-xl: 920px !important;
}
