DATABASE_CONNECTION_URI=
TRENDS_ITEM_LIMIT=10
GOOGLE_TRENDS_BASE_URL=
TWITTER_TRENDS_URL=
TWITTER_TOKEN=
SPOTIFY_TOP_PODCASTS_URL=
YOUTUBE_TRENDS_URL=
PORTAL_EL_DESTAPE_URL=
PORTAL_TELAM_URL=
PORTAL_INFOBAE_URL=
PORTAL_CLARIN_URL=
PORTAL_LA_NACION_URL=
SPOTIFY_USER_EMAIL=
SPOTIFY_USER_PASSWORD=